
.grid {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    height: 100%;
}

.col-1 {
    flex: 1 1;
    position: relative;
}


.body, p {
  margin-bottom: 32px;
  color: #4A4A4A;
  line-height: 160%;
  max-width: 430px;
  font-family: "apercu";
}

.body, h2, p {
    margin-bottom: 32px;
    color: #4A4A4A;
    line-height: 160%;
    max-width: 430px;
    font-family: "apercu";
 }

 .page-content {
	min-height: calc(100vh - 56px - 220px);
}

.about, .about .grid {
	height: 100%;
}

.about .grid {
	height: 100%;
}

main {
	margin-top: 220px;
	padding-bottom: 70px;
	margin-bottom: 0;
}


.personal-photo {
	margin-top: 148px;
	width: 300px;
	opacity: .9;
	margin-right: 24px;
	}

ul.contact-desktop {
	margin-top: 0;
	margin-bottom: 96px;
	transform: translateY(-1px);
	width: auto;
}


  

